:root {
    --primary-color: #043306;
    --secondary-color: #066a06;
    --accent1-color: #043306;
    --accent2-color: #e9c46a;
    --heading-font: Georgia, serif;
    --body-font: Arial, sans-serif;
    --white: #ffffff;
    --primary-transparent: rgba(4, 51, 6, 0.8);
    --white-transparent: rgba(255, 255, 255, 0.9);
}

/* RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent2-color);
    padding: 20px;
    margin-top: 30px;
    color: var(--primary-color);
}

main {
    margin-top: 30px;
    padding: 20px;

}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
}

/* headings */
h1,
h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

/* Hero section */
.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    color: var(--white);
    background-color: var(--primary-transparent);
    padding: 10px;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: var(--white-transparent);
    padding: 15px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.hero article img {
    float: right;
    width: 150px;
    margin: 0 0 1rem 1.5rem;
    height: auto;
}

/* SECTIONS */
section {
    margin: 20px 0;
    padding: 15px;
    color: var(--accent1-color);
}

/* HISTORY */
.history {
    text-align: center;
}

.history-content {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    gap: 20px;
    align-items: center;
}

.history-content img {
    width: 100%;
    height: auto;
}

/* ADVENTURE */
.adventure {
    text-align: center;
}

.adventure-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    margin-top: 20px;
}

.adventure-gallery img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

figure {
    margin: 0;
}

figcaption {
    margin-top: 5px;
    font-size: 0.9rem;
}

.socialmedia {
    margin-top: 10px;
}

.socialmedia a {
    text-decoration: none;
    margin: 0 5px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    padding: 20px;
    background-color: var(--primary-color);
    color: var(--white);
}