nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;

}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 2px 2px 8px gray;
}

p {
    padding: 0;
}

main {
    max-width: 800px;
}

aside {
    width: 20rem;
    margin: 2rem;
    border: 1px solid rgb(0 0 0/ 0.2);
    padding: 1rem;
    background-color: darkgrey;
    color: #444;
}

aside img {
    width: 200px;
    height: auto;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.home-grid img {
    width: 100%;
    height: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent2-color);
    padding: 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    padding: 20px;
    color: var(--primary-color);
}

footer {
    color: var(--primary-color);
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.home-grid img {
    width: 100%;
    height: auto;
}